<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Gestor Biblioteca</title>
</head>
<body>
  <h1>Gestor de Biblioteca Universitaria</h1>

  <form action="/buscar" method="post">
      <input type="text" name="palabra" placeholder="Buscar libro/revista...">
      <button type="submit">Buscar</button>
  </form>

  {% if palabra %}
    <h2>Resultados para "{{ palabra }}":</h2>
  {% else %}
    <h2>Materiales disponibles:</h2>
  {% endif %}

  <ul>
    {% for material in materiales %}
      <li>{{ material.titulo }} - {{ material._autor }}</li>
    {% else %}
      <li>No se encontraron resultados</li>
    {% endfor %}
  </ul>
</body>
</html>